* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #000000;
  /* font-size: 16px; */
}

.header {
  width: 100%;
  height: 900px;
  background-color: #ccdef0;
  background-image: radial-gradient(
    circle 675px at center,
    #ffffff 0%,
    #ccdef0 100%
  );
}

.container {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
 
}

.nav-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 70px;
  margin-bottom: 90px;
}

.logo {
  font-size: 28px;
  font-weight: 900;
  line-height: 1;
  color: #000000;
}

.logo span {
  color: #5abb33;
}

.nav {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
}

.nav_item {
  margin-right: 50px;
}

.nav_item:last-child {
  margin-right: 0px;
}

.nav_link {
  color: #000000;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  line-height: 1;
}

.nav_link:hover {
  text-decoration: underline;
}
.header-content {
  /* background-color: #777; */
  /* padding: 50px 0; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header-desc {
  /* background-color: seagreen; */
  padding: 50px 0;
  width: 500px;
  padding-top: 90px;
}

.header__title {
  color: #000000;
  font-weight: 800;
  font-size: 48px;
  line-height: 1.3;
  margin: 0;
  margin-bottom: 35px;
}

.header__text {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.7;
  margin-bottom: 35px;
}

.header__btn {
  display: inline-block;
  height: 65px;
  padding-left: 35px;
  padding-right: 35px;
  border-radius: 60px;
  background-color: #fadb60;
  background-image: linear-gradient(to top, #ffcc00 0%, #fadb60 100%);

  color: #000000;
  font-size: 24px;
  font-weight: 700;
  text-decoration: none;
  line-height: 65px;
}
.header-photo {
  /* background-color:rgb(170,56,145); */
  /* padding: 50px 0; */
  width: 670px;
}

.header-social {
}

.header__sociai-item {
  font-size: 27px;
  color: #34385c;
  text-decoration: none;
  margin-right: 30px;
}

.header__social-item:last-child {
  margin-right: 0;
}

.header__social-item:hover {
  opacity: 0.8;
}

.footer {
  width: 100%;
  height: 114px;
  background-color: #232323;
}

/* .footer::before { */
/* content: ""; */
/* display: table; */

